airbnb/profiles.yml
airbnb/target*/
logs/
target/

airbnb/package-lock.yml
airbnb/dbt_packages/
airbnb/dbt_internal_packages/
.env
.venv/
_course_resources/
.devcontainer/

.vscode

.user.yml
.DS_Store

set-env.sh
set-env.ps1

